<%- include('partials/header') %>
<body>
    <main>
        <h1><%= title %></h1>

        <table class="center">
            <tr>
              <th>Artistit</th>
            </tr>
            <% artistit.forEach(item => { %>             
                <tr>
                  <td><a href="/artistit/<%= item.artisti %>"><%= item.artisti %></a></td>
                </tr>
            <% }) %>
          </table>
    
    </main>
</body>
<%- include('partials/footer') %>